<h3 id="titulo">Veículos cadastrados</h3>

<div class="visualizarVeiculos">
  <ul class="veiculos_list list-group">
    {{#each veiculos}}

      <li class="list-group-item">
        <div class="col-sm">
          <label for="">{{this.nome}}</label>
        </div>
        <div class="col-sm">
          <label for="">{{this.modelo}}</label>
        </div>
        <div class="col-sm">
          <label for="">{{this.placa}}</label>
        </div>
         <div class="col-sm">
          <label for="">{{this.fabricante}}</label>
        </div>
        <div class="col-sm-1 actions">
          <a href="/veiculo/editar/{{this.id}}">
            {{> editar}}
          </a>
          <form action="/veiculo/remover" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" class="button_remover">
              {{> remover}}
            </button>
          </form>
        </div> 
      </li>

    {{/each}}
  </ul>
</div>